<template>
<v-container>
  <v-form ref="form">
    <v-row>
      <!--Course information-->
      <v-col lg="8" sm="8">
        <v-card>
          <v-card-title class="title">Add New Course</v-card-title>
          <v-card-subtitle>Enter the base information for this course</v-card-subtitle>
          <v-card-text>
              <v-row>
                <v-col md="12" sm="12" cols="12">
                  <v-text-field
                    label="Title"
                    v-model="form.title"
                  ></v-text-field>
                </v-col>
                <v-col md="6" sm="12" cols="12">
                  <v-text-field
                    label="Lector"
                    v-model="form.lector"
                  ></v-text-field>
                </v-col>
                <v-col md="6" sm="6" cols="12">
                  <v-text-field
                    label="Price"
                    v-model="form.price"
                  ></v-text-field>
                </v-col>     
                <v-col md="12" sm="12" cols="12">
                  <p class="subtitle-2">Description</p>
                  <floating-menu v-on:HTMLtext="getDescriptionText" />
                </v-col>             
                <v-col>
                  <v-alert type="error" v-if="error">
                    {{ error }}
                  </v-alert>
                </v-col>
              </v-row>
            
          </v-card-text>
        </v-card>
      </v-col>

      <!--course settings-->
      <v-col lg="4" sm="4">
        <v-expansion-panels multiple focusable>

            <!--Status & visibility-->
            <v-expansion-panel>
              <v-expansion-panel-header>Status & visivility</v-expansion-panel-header>
              <v-expansion-panel-content>
                  <v-switch
                    v-model="form.active"
                    inset
                    label="Active course"
                  >
                  </v-switch>
                  <v-menu
                    v-model="dateMenu"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    transition="scale-transition"
                    offset-y
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        v-model="date"
                        label="Publish date"
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker v-model="date" @input="dateMenu = false"></v-date-picker>
                  </v-menu>

              </v-expansion-panel-content>            
            </v-expansion-panel>

            <!--Thumbnail-->
            <v-expansion-panel>
              <v-expansion-panel-header>Thumbnail image</v-expansion-panel-header>
              <v-expansion-panel-content>
                <div class="pt-3">
                  <v-img :src="form.thumbnail" width="240" height="135" v-if="form.thumbnail" @click="dialog= true"/>
                  <v-btn v-else outlined block @click="dialog= true" class="grey lighten-3" height="135">Set thumbnail image</v-btn>
                  <modals-thumbnail v-on:thumbnailToForm="getThumbnail" :status="dialog" @dialog="closeDialog" v-if="dialog"/>
                </div>
              </v-expansion-panel-content>            
            </v-expansion-panel>

            <!--Category-->
            <v-expansion-panel>
              <v-expansion-panel-header>Category</v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-select
                  :items="categories"
                  label="Select Category"
                  v-model="form.category"
                ></v-select>
              </v-expansion-panel-content>            
            </v-expansion-panel>    

            <!--Difficulty-->
            <v-expansion-panel>
              <v-expansion-panel-header>Difficulty</v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-select
                  :items="difficulty"
                  label="Course Difficulty"
                  v-model="form.difficulty"
                ></v-select>
              </v-expansion-panel-content>            
            </v-expansion-panel> 

            <!--Tags-->
            <v-expansion-panel>
              <v-expansion-panel-header>Tags</v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-autocomplete
                  :items="tags"
                  label="Tags"
                  multiple
                  v-model="form.tags"
                >
                  <template v-slot:selection="{ item, index }">
                    <v-chip>
                      <span>{{ item }}</span>
                    </v-chip>
                  </template>
                </v-autocomplete>
              </v-expansion-panel-content>            
            </v-expansion-panel>   

            <!--Excerpt-->
            <v-expansion-panel>
              <v-expansion-panel-header>Excerpt</v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-textarea
                  v-model="form.excerpt"
                  counter
                  maxlength="100"
                  hint="This field uses maxlength attribute"
                  label="Write an excerpt (optional)"
                ></v-textarea>
              </v-expansion-panel-content>            
            </v-expansion-panel>                                   
        </v-expansion-panels>
      </v-col>
      
      <!--What you'll learn-->
      <v-col cols="6">
        <v-card>
          <v-card-title>What You'll Learn</v-card-title>
          <v-card-subtitle>What can users expect to learn from this course?</v-card-subtitle>
            <v-card-text>
              <floating-menu v-on:HTMLtext="getLearnText" />
            </v-card-text>            
        </v-card>
      </v-col>


      <v-col cols="6">
        <v-card>
          <v-card-title>Requirements</v-card-title>
          <v-card-subtitle>Please fill in required knowledge prior to this course</v-card-subtitle>
          <v-card-text>
            <!-- <v-col>
             <v-textarea
              hint="Fill in bullet form"
              label="Requirement"
              v-model="form.requirements"
            /> 
            </v-col> -->
            <floating-menu v-on:HTMLtext="getRequirementsText" />
          </v-card-text>
        </v-card>
      </v-col>


      <!--submit button-->
      <v-col cols="12">
        <v-btn
          class="accent mt-4"
          block
          large
          @click="onSubmit($event)"
        >Add Course</v-btn>
      </v-col>
    </v-row>
  </v-form>
</v-container>
</template>
<script>
import { mapActions, mapState } from 'vuex'
import ModalsThumbnail from '@/components/Modals/ModalsThumbnail'
import FloatingMenu from '@/components/Editor/FloatingMenu'
export default {
  components: {
    ModalsThumbnail,
    FloatingMenu
  },
  data: () => ({
    editor: null,
    dialog: false,
    dateMenu: false,
    date: new Date().toISOString().substr(0, 10),
    difficulty: ['All Levels', 'Beginner', 'Advanced', 'Expert'],
    what_you_learn: '',
    form: {
      lector: 'Kenneth Geris',
      title: 'Vue JS 2 - The Complete Guide (incl. Vue Router & Vuex)',
      excerpt: 'Vue.js is an awesome JavaScript Framework for building Frontend Applications! VueJS mixes the Best of Angular + React!',
      description: '',
      category: '',
      tags: [],
      difficulty: '',
      thumbnail: null,
      price: 0,
      discount_price: 0,
      language: 'English',
      closed_captions: [],
      requirements: '',
      what_you_learn: '',
      active: true,
    }
  }),
  computed: {
    ...mapState({ 
        error: state => state.courses.error,
        categories: state => state.categories.CATEGORIES.map( x => x.name ),
        tags: state =>  state.tags.TAGS.map( x => x.name )
    })
  },
  methods: {
    ...mapActions('courses', ['SET_COURSE']),
    ...mapActions('categories', ['GET_CATEGORIES']),
    ...mapActions('tags', ['GET_TAGS']),
    getThumbnail (value) {
      this.form.thumbnail = value
    },
    closeDialog(value) {
      this.dialog = value
    },
    onSubmit(evt){    
      evt.preventDefault()
      const data = this.form

      Promise.resolve(this.SET_COURSE(data))
    },
    getRequirementsText(value){
      this.form.requirements = value;
    },
    getLearnText(value) {
      this.form.what_you_learn = value
    },
    getDescriptionText(value) {
      this.form.description = value
    }
  },
  mounted() {
    this.GET_CATEGORIES()
    this.GET_TAGS()
  }
}
</script>