<template>
  <v-form @submit.prevent="onSubmit">
    <v-container>
      <v-row>
        <v-col sm="5">
          <add-category />
        </v-col>
        <v-col sm="7">
          <overview-categories-tags :data="CATEGORIES" />
          
          <p class="mt-4 caption font-italic font-weight-light">Deleting a category does not delete the posts in that category. Instead, posts that were only assigned to the deleted category are set to the default category Uncategorized. The default category cannot be deleted.</p>
        </v-col>
      </v-row>
    </v-container>
  </v-form>
</template>
<script>
import AddCategory from '@/components/Cards/AddCategory'
import OverviewCategoriesTags from '@/components/Tables/OverviewCategoriesTags'
import { mapState, mapActions } from 'vuex'

export default {
  components: {
    AddCategory,
    OverviewCategoriesTags
  },
  computed: {
    ...mapState('categories', ['CATEGORIES'])
  },
    methods: {
    ...mapActions('categories', ['GET_CATEGORIES'])
  },
  mounted() {
    this.GET_CATEGORIES()
  }
}
</script>
