<template>
  <v-container>
    <v-row>
      <v-col lg="4" sm="4">
        <v-card
          class="mx-auto"
          max-width="400"
        >
          <v-list-item two-line>
            <v-list-item-content>
              <v-list-item-title class="subtitle-1">Total Courses</v-list-item-title>
              <v-list-item-subtitle class="headline">{{ ALL_COURSES }}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-card>
      </v-col>
      <v-col lg="4" sm="4">
        <v-card
          class="mx-auto"
          color="success"
          max-width="400"
          dark
        >
          <v-list-item two-line>
            <v-list-item-content>
              <v-list-item-title class="subtitle-1">Active Courses</v-list-item-title>
              <v-list-item-subtitle class="headline">{{ ACTIVE_COURSES }}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-card>
      </v-col>
      <v-col lg="4" sm="4">
        <v-card
          class="mx-auto"
          color="error"
          max-width="400"
          dark
        >
          <v-list-item two-line>
            <v-list-item-content>
              <v-list-item-title class="subtitle-1">Inactive Courses</v-list-item-title>
              <v-list-item-subtitle class="headline">{{ NONACTIVE_COURSES }}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-card>
      </v-col>   

      <v-col lg="12" sm="12">
        <overview :data="COURSES"/>
      </v-col>

    </v-row>
  </v-container>
</template>
<script>
import { mapState, mapActions, mapGetters } from 'vuex'
import Overview from '@/components/Tables/Overview'

export default {
  components: {
    Overview
  },
  computed:{
    ...mapState('courses', ['COURSES']),
    ...mapGetters('courses', ['ALL_COURSES', 'ACTIVE_COURSES', 'NONACTIVE_COURSES'])
  },
  methods: {
    ...mapActions('courses', ['GET_COURSES'])
  },
  mounted() {
    this.GET_COURSES()
  }

}
</script>