<template>
  <v-form @submit.prevent="onSubmit">
    <v-container>
      <v-row>
        <v-col sm="5">
          <add-tag />
        </v-col>
        <v-col sm="7">
         <overview-categories-tags :data="TAGS" />
          <p class="mt-4 caption font-italic font-weight-light">Deleting a category does not delete the posts in that category. Instead, posts that were only assigned to the deleted category are set to the default category Uncategorized. The default category cannot be deleted.</p>
        </v-col>
      </v-row>
    </v-container>
  </v-form>
</template>
<script>
import { mapState, mapActions } from 'vuex'
import AddTag from '@/components/Cards/AddTag'
import OverviewCategoriesTags from '@/components/Tables/OverviewCategoriesTags'
export default {
  components: {
    AddTag,
    OverviewCategoriesTags
  },
  computed: {
    ...mapState('tags', ['TAGS'])
  },
    methods: {
    ...mapActions('tags', ['GET_TAGS'])
  },
  mounted() {
    this.GET_TAGS()
  }
}
</script>
