<template>
    <v-container>
        <v-row>
            <v-col>
                <h1>Subscriber details</h1>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <v-card>
                    <v-card-title><code>name goes here</code></v-card-title>
                    <v-card-text>
                        <code>text goes here</code>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import { mapActions } from 'vuex'
export default {
    methods: {
        ...mapActions('subscribers', ['GET_SUBSCRIBERDETAILS'])
    },
    mounted() {
        const id = this.$route.params.id

        this.GET_SUBSCRIBERDETAILS(id)
    }
}
</script>

<style>

</style>