<template>
  <v-container>
    <v-row>
      <v-col lg="4" sm="4">
        <v-card
          class="mx-auto"
          max-width="400"
        >
          <v-list-item two-line>
            <v-list-item-content>
              <v-list-item-title class="subtitle-1">Total Subscribers</v-list-item-title>
              <v-list-item-subtitle class="headline">{{ ALL_SUBSCRIBERS }}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-card>
      </v-col>
      <v-col lg="4" sm="4">
        <v-card
          class="mx-auto"
          color="success"
          max-width="400"
          dark
        >
          <v-list-item two-line>
            <v-list-item-content>
              <v-list-item-title class="subtitle-1">Active Subscribers</v-list-item-title>
              <v-list-item-subtitle class="headline">{{ ACTIVE_SUBSCRIBERS }}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-card>
      </v-col>
      <v-col lg="4" sm="4">
        <v-card
          class="mx-auto"
          color="error"
          max-width="400"
          dark
        >
          <v-list-item two-line>
            <v-list-item-content>
              <v-list-item-title class="subtitle-1">Inactive Subscribers</v-list-item-title>
              <v-list-item-subtitle class="headline">{{ NONACTIVE_SUBSCRIBERS }}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-card>
      </v-col>   

      <v-col lg="12">
        <overview :data="SUBSCRIBERS"/>
      </v-col>          
    </v-row>
  </v-container>
</template>
<script>
import { mapState, mapActions, mapGetters } from 'vuex'
import Overview from '@/components/Tables/Overview'

export default {
  components: {
    Overview
  },
  computed:{
    ...mapState('subscribers', ['SUBSCRIBERS']),
    ...mapGetters('subscribers', ['ALL_SUBSCRIBERS', 'ACTIVE_SUBSCRIBERS', 'NONACTIVE_SUBSCRIBERS'])
  },
  methods: {
    ...mapActions('subscribers', ['GET_SUBSCRIBERS'])
  },
  mounted() {
    this.GET_SUBSCRIBERS()
  }

}
</script>