<template>
    <v-card
        class="mx-auto"
        max-width="300"
        
    >
        <v-list>
        <v-list-item-group v-model="item" color="accent">
            <v-list-item
            v-for="(item, i) in items"
            :key="i"
            :to="'/user/'+item.href"
            >
            <v-list-item-content>
                <v-list-item-title v-text="item.text"></v-list-item-title>
            </v-list-item-content>
            </v-list-item>
        </v-list-item-group>
        </v-list>
    </v-card>            
</template>
<script>
export default {
    data: () => ({
      item: 1,
      items: [
        { text: 'Profile', href: 'edit-profile' },
        { text: 'Photo', href: 'edit-avatar' },
        { text: 'Account', href: 'edit-account' },
      ],
    })
}
</script>