<template>
  <v-card>
    <v-form @submit.prevent="onSubmit">
      <v-card-title class="title">Add New Category</v-card-title>
        <v-card-text>
          <v-row>
            <v-col sm="12">
              <v-text-field
                label="Name"
                hint="The name is how it appears on your site"
                persistent-hint
                v-model="form.name"
              ></v-text-field>
            </v-col>

            <v-col sm="12">
              <v-text-field
                label="Slug"
                hint="The “slug” is the URL-friendly version of the name. It is usually all lowercase and contains only letters, numbers, and hyphens"
                persistent-hint
                disabled
                v-model="slug"
              ></v-text-field>
            </v-col>

            <v-col sm="12">
              <v-select
                label="Parent Category"
                hint="Categories, unlike tags, can have a hierarchy. You might have a Jazz category, and under that have children categories for Bebop and Big Band. Totally optional."
                persistent-hint
                :items="categories"
                v-model="form.parent_category"
              />
            </v-col>

            <v-col sm="12">
              <v-textarea
                label="Description"
                hint="The description is not prominent by default; however, some themes may show it."
                persistent-hint
                v-model="form.description"
              ></v-textarea>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions class="pa-4">
          <v-btn
            type="submit"
            color="secondary"
          >Add Category</v-btn>
        </v-card-actions>
    </v-form>
  </v-card>
</template>
<script>
import { mapActions, mapState } from 'vuex'
export default {
    data: () => ({
      form: {
        name: '',
        slug: '',
        description: '',
        parent_category: ''
      }
    }),
    computed: {
      slug() {
        const value = this.form.name.replace(/([a-z])([A-Z])/g, '$1-$2').replace(/\s+/g, '-').toLowerCase()
        return value
      },
      ...mapState({ 
          categories: state => state.categories.CATEGORIES.map( x => x.name )
      })
    },
    methods: {
        ...mapActions('categories', ['SET_CATEGORIE']),
        onSubmit(evt) {
          const data = this.form
          this.form.slug = this.slug

          Promise.resolve(this.SET_CATEGORIE(data))
            .then(evt.target.reset())
        }
    },
}
</script>