<template>
    <v-card>
      <v-form @submit.prevent="onSubmit">
        <v-card-title class="title">Add New Tag</v-card-title>
        <v-card-text>
          <v-text-field
            label="Name"
            hint="The name is how it appears on your site"
            persistent-hint
            v-model="form.name"
          ></v-text-field>
          <v-text-field
            label="Slug"
            hint="The “slug” is the URL-friendly version of the name. It is usually all lowercase and contains only letters, numbers, and hyphens"
            persistent-hint
            readonly
            v-model="slug"
          ></v-text-field>
          <v-textarea
            label="Description"
            hint="The description is not prominent by default; however, some themes may show it."
            persistent-hint
            v-model="form.description"
          ></v-textarea>
        </v-card-text>
        <v-card-actions class="pa-4">
          <v-btn
            type="submit"
            color="secondary"
          >Add Tag</v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
</template>
<script>
import { mapActions, mapState } from 'vuex'
export default {
    data: () => ({
        form: {
            name: '',
            slug: '',
            description: ''
        }
    }),
    computed: {
      slug() {
        let value = this.form.name.replace(/([a-z])([A-Z])/g, '$1-$2').replace(/\s+/g, '-').toLowerCase()

        return value
      }
    },
    methods: {
        ...mapActions('tags', ['SET_TAG']),
        async onSubmit(evt) {
          this.form.slug = this.slug
          const data = this.form

          await this.SET_TAG(data)
          evt.target.reset()
        }
    }
}
</script>