<template>    
  <v-container>
    <v-row>
      <v-col lg="12" sm="12">
        <v-card>
          <v-card-title class="title">Add New Lector</v-card-title>
          <v-card-text>
            <v-form @submit.prevent="onSubmit">
              <v-row>
                <v-col md="4">
                  <v-img :src="form.thumbnail" width="240" height="135" v-if="form.thumbnail" @click="dialog= true"/>
                  <v-btn v-else outlined block @click="dialog= true" class="grey lighten-3 black--text" height="135">Choose Avatar</v-btn>
                  <modals-thumbnail v-on:thumbnailToForm="getThumbnail" :status="dialog" @dialog="closeDialog" v-if="dialog"/>                  
                </v-col>
                <v-col md="4" sm="6">
                  <v-text-field
                    label="First Name"
                    v-model="form.firstname"
                  ></v-text-field>
                </v-col>
                <v-col md="4" sm="6">
                  <v-text-field
                    label="Last Name"
                    v-model="form.lastname"
                  ></v-text-field>
                </v-col>
                <v-col md="6" sm="12">
                  <v-text-field
                    label="Email"
                    v-model="form.email"
                  ></v-text-field>
                </v-col> 
                <v-col md="6" sm="12">
                  <v-text-field
                    label="Title"
                    v-model="form.title"
                  ></v-text-field>
                </v-col>         
                <v-col md="12" sm="6">
                  <v-textarea
                    label="Biography"
                    v-model="form.bio"
                    hint="Tell us something about you"
                    persistent-hint
                  ></v-textarea>
                </v-col>
                <v-col sm="12">
                  <v-switch
                    v-model="form.active"
                    label="Active"
                    color="success"
                  ></v-switch>
                </v-col>
                <v-col lg="12" sm="12">
                  <v-btn
                    class="success"
                    type="submit"
                  >Create</v-btn>
                </v-col>
                <v-col>
                  <v-alert type="error" v-if="error">
                    {{ error }}
                  </v-alert>
                  <v-snackbar
                    v-model="snackbar"
                    :timeout="timeout"
                  >Lector has been added</v-snackbar>
                </v-col>
              </v-row>
            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
  
</template>
<script>
import { mapActions, mapState } from 'vuex'
import ModalsThumbnail from '@/components/Modals/ModalsThumbnail'
export default {
  components: {
    ModalsThumbnail
  },
  data: () => ({
    snackbar: false,
    dialog: false,
    timeout: 2000,
    form: {
      firstname: 'kenneth',
      lastname: 'geris',
      email: 'geriskenneth1@gmail.com',
      title: 'Full Stack Web Developer',
      avatar: null,
      active: true,
      bio: 'this is a bio about kenneth geris'
    }
  }),
  computed: {
    ...mapState({ error: state => state.lectors.error})
  },
  methods: {
    ...mapActions('lectors', ['SET_LECTOR']),
    onSubmit(evt){
      const data = this.form
      
      Promise.resolve(this.SET_LECTOR(data))
        .then(evt.target.reset())
        .then(this.snackbar = true)
      

    },
    getThumbnail(value) {
      this.form.thumbnail = value
    },
    closeDialog(value) {
      this.dialog = value
    }
  }
}
</script>
