<template>
    <v-form @submit.prevent="onSubmit">
        <v-container>
            <v-row>
                <v-col md="6" sm="6">
                <v-text-field
                    label="First Name"
                    v-model="lector.firstname"
                ></v-text-field>
                </v-col>
                <v-col md="6" sm="6">
                <v-text-field
                    label="Last Name"
                    v-model="lector.lastname"
                ></v-text-field>
                </v-col>
                <v-col md="6" sm="12">
                <v-text-field
                    label="Email"
                    readonly
                    v-model="lector.email"
                ></v-text-field>
                </v-col> 
                <v-col md="6" sm="12">
                <v-text-field
                    label="Title"
                    v-model="lector.title"
                ></v-text-field>
                </v-col>         
                <v-col md="12" sm="6">
                <v-textarea
                    label="Biography"
                    hint="Tell us something about you"
                    persistent-hint
                    v-model="lector.bio"
                ></v-textarea>
                </v-col>
                <v-col sm="12">
                <v-switch
                    label="Active"
                    v-model="lector.active"
                ></v-switch>
                </v-col>

                <v-col lg="12" sm="12">
                <v-btn
                    class="primary"
                    type="submit"
                >Submit</v-btn>
                </v-col>
            </v-row>
        </v-container>
  </v-form>
</template>
<script>
import { mapActions, mapState } from 'vuex'
export default {
  computed: {
    ...mapState({ lector: state => state.lectors.LECTOR})
  },
  methods: {
    ...mapActions('lectors', ['UPDATE_LECTOR', 'GET_LECTORDETAILS']),
    onSubmit(evt){
      const data = this.lector
      this.UPDATE_LECTOR(data)
    }
  },
  beforeMount() {
      const id = this.$route.params.id
      this.GET_LECTORDETAILS(id)
  }
}
</script>
