<template>
  <v-container>
    <v-row>
      <v-col lg="4" sm="4">
        <v-card
          class="mx-auto"
          max-width="400"
        >
          <v-list-item two-line>
            <v-list-item-content>
              <v-list-item-title class="subtitle-1">Total Lectors</v-list-item-title>
              <v-list-item-subtitle class="headline">{{ ALL_LECTORS }}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-card>
      </v-col>
      <v-col lg="4" sm="4">
        <v-card
          class="mx-auto"
          color="success"
          max-width="400"
        >
          <v-list-item two-line>
            <v-list-item-content>
              <v-list-item-title class="subtitle-1">Active Lectors</v-list-item-title>
              <v-list-item-subtitle class="headline">{{ ACTIVE_LECTORS }}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-card>
      </v-col>
      <v-col lg="4" sm="4">
        <v-card
          class="mx-auto"
          color="error"
          max-width="400"
        >
          <v-list-item two-line>
            <v-list-item-content>
              <v-list-item-title class="subtitle-1">Inactive Lectors</v-list-item-title>
              <v-list-item-subtitle class="headline">{{ NONACTIVE_LECTORS }}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-card>
      </v-col>   

      <v-col lg="12">
        <overview :data="LECTORS"/>
      </v-col>
      <!-- <v-col lg="4" v-for="lector in lectors" :key="lector._id">
        <v-card
          class="mx-auto"
          max-width="434"
          tile
          dark
        >
          <v-row>
            <v-col
              align-self="start"
              class="pt-0"
              cols="12"
            >
              <v-avatar
                class="profile"
                color="grey"
                size="164"
                tile
              >
                <v-img :src="lector.avatar"></v-img>
              </v-avatar>
            </v-col>
            <v-col class="py-0">
              <v-list-item
                color="rgba(0, 0, 0, .4)"
                dark
              >
                <v-list-item-content>
                  <v-list-item-title class="title">{{lector.firstname}} {{lector.lastname}}</v-list-item-title>
                  <v-list-item-subtitle>{{lector.email}}</v-list-item-subtitle>
                </v-list-item-content>
                <v-btn :to="'edit/'+lector._id" text><v-icon>settings</v-icon></v-btn>
              </v-list-item>
            </v-col>
          </v-row>
        </v-card>
      </v-col>     -->
          
    </v-row>
  </v-container>
</template>
<script>
import { mapState, mapActions, mapGetters } from 'vuex'
import Overview from '@/components/Tables/Overview'

export default {
  components: {
    Overview
  },
  computed:{
    ...mapState('lectors', ['LECTORS']),
    ...mapGetters('lectors', ['ALL_LECTORS', 'ACTIVE_LECTORS', 'NONACTIVE_LECTORS'])
  },
  methods: {
    ...mapActions('lectors', ['GET_LECTORS'])
  },
  mounted() {
    this.GET_LECTORS()
  }

}
</script>