<template>
  <v-container>
      <v-row>
          <v-col lg="12">
              <h1>Inbox Overview</h1>
          </v-col>
      </v-row>
  </v-container>
</template>

<script>
export default {

}
</script>

<style>

</style>