<template>
<div>
    <v-navigation-drawer
      v-model="drawer"
      app
      clipped
      fixed
    >
      <v-list dense>
        <v-subheader class="mt-3">MANAGE CONTENT</v-subheader>

        <!--COURSES LIST-->
        <v-list-group no-action>
          <template v-slot:activator>
            <v-list-item-action>
              <v-icon>book</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Courses</v-list-item-title>
            </v-list-item-content>
          </template>
          <v-list-item
            v-for="(course, i) in courses"
            :key="i"
            :to="'/admin/courses/'+course.href"
          >
            <v-list-item-title v-text="course.text"></v-list-item-title>
          </v-list-item>
        </v-list-group>

        <!--LECTORS LIST-->
        <v-list-group no-action>
          <template v-slot:activator>
            <v-list-item-action>
              <v-icon color="">people</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Lectors</v-list-item-title>
            </v-list-item-content>
          </template>
          <v-list-item
            v-for="(lector, i) in lectors"
            :key="i"
            :to="'/admin/lectors/'+lector.href"
          >
            <v-list-item-title v-text="lector.text"></v-list-item-title>
          </v-list-item>
        </v-list-group>
        
        <v-list-group no-action>
          <template v-slot:activator>
            <v-list-item-action>
              <v-icon color="">email</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Inbox</v-list-item-title>
            </v-list-item-content>
          </template>
          <v-list-item
            v-for="(inbox, i) in inbox"
            :key="i"
            :to="'/admin/inbox/'+inbox.href"
          >
            <v-list-item-title v-text="inbox.text"></v-list-item-title>
          </v-list-item>          
        </v-list-group>
        
        <v-list-item to="/admin/subscribers/overview">
          <v-list-item-action>
            <v-icon>settings</v-icon>
          </v-list-item-action>
          <v-list-item-title>Manage Subscribers</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      app
      clipped-left
      fixed
      color="primary"
      dark
      dense
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-icon class="mx-3"></v-icon>
      <v-toolbar-title class="mr-5 align-center">
        <span class="title">CodeTUT 101</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-menu left bottom>
        <template v-slot:activator="{ on }">
          <v-btn
            icon
            v-on="on"
          >
            <v-icon>person</v-icon>
          </v-btn>
        </template>
        <v-list>
          <v-list-item to="/admin/settings">
            <v-list-item-title>Settings</v-list-item-title>
          </v-list-item>
          <v-list-item>
            <v-list-item-title>Profile</v-list-item-title>
          </v-list-item>       
          <v-list-item @click="logOut">
            <v-list-item-title>Logout</v-list-item-title>
          </v-list-item>     
        </v-list>
      </v-menu>
    </v-app-bar>
</div>
</template>
<script>
import { mapActions } from 'vuex'
export default {
    data: () => ({
        drawer: null,
        categories: [
          { text: 'Categories', href: 'overview' },
          { text: 'Manage', href: 'manage' }
        ],
        courses: [
          { text: 'Overview', href: 'overview' },
          { text: 'Add New', href: 'add' },
          { text: 'Categories', href: 'categories' },
          { text: 'Tags', href: 'tags' }    
        ],
        lectors: [
          { text: 'Overview', href: 'overview' },
          { text: 'Add Lector', href: 'add' }  
        ],
        inbox: [
          { text: 'Overview', href: 'overview' },
          { text: 'New Email', href: 'compose' }
        ]
    }),
    methods: {
      ...mapActions({
          authlogout: 'auth/logout'
      }),
      logOut() {
        this.authlogout()
      }
    }
}
</script>