<template>
    <v-overlay
        :value="status"
    >
    
        <v-container class="white black--text">
            <v-row class="pb-5">
                <v-col class="text-right">
                    <v-btn
                    right
                    icon
                    light               
                    @click="overlay = !overlay"
                >
                    <v-icon>mdi-close</v-icon>
                </v-btn>
                </v-col>
                <v-col cols="12">
                    <v-btn color="blue" block class="mb-2 white--text">
                        <v-icon>
                            mdi-facebook
                        </v-icon>
                        Continue with Facebook
                    </v-btn>
                    <v-btn color="red" block class="mb-4 white--text">
                        <v-icon>
                            mdi-google
                        </v-icon>
                        Continue with Google
                    </v-btn>  
                    <v-form>
                        <v-text-field 
                            v-model="form.email"
                            placeholder="Email"
                            light
                        ></v-text-field>

                        <v-text-field 
                            v-model="form.password" 
                            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                            :type="showPassword ? 'text' : 'password'"
                            placeholder="Password"
                            @click:append="showPassword = !showPassword"
                            light
                        ></v-text-field>

                        <v-btn class="mb-2 primary" @click="submit" tile>Log In</v-btn> <br />
                        <span>or </span><router-link to="auth/forgot-password">Forgot Password?</router-link> <br />
                    <v-btn class="mb-2 primary" @click="checkSession" tile>Session checker</v-btn> <br />
                    </v-form>
                </v-col>

            </v-row>
            <v-row justify="center">
                <v-col cols="12">
                    <p class="text-center">Don't have an account? <router-link to="augh/sign-up">Sign up</router-link></p>
                </v-col>
            </v-row>
        </v-container>
    </v-overlay>
</template>
<script>
import { mapActions } from 'vuex'
export default {
    props: ['status'],
    data: () => ({
        showPassword: false,
        form:{
            email: 'geriskenneth@gmail.com',
            password: 'kennethgeris'
        }
    }),
    computed: {
        overlay: {
            get () {
                return this.$store.state.loginform
            },
            set (val) {
                this.$store.commit('setLoginForm', val)
            }
        }
    },
    methods:{  
        ...mapActions({
            authLogin: 'auth/login',
            authSession: 'auth/usersession'
        }),
        submit(){
            const { email, password } = this.form
            this.authLogin({email, password})
        },
        checkSession(){
            this.authSession()
        }
    }
}
</script>