<template>
<div>
    <v-app-bar app>
      <v-toolbar-title class="headline text-uppercase">
        <router-link to="/"><span>CodeTut </span></router-link>
        <span class="font-weight-light">101</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
     <v-menu
        left
        bottom
        
      >
        <!-- v-if="auth.loggedIn" -->
        <template v-slot:activator="{ on }">
          <v-btn icon v-on="on">
            <v-icon>mdi-account</v-icon>
          </v-btn>
        </template>

        <v-list>
          <v-list-item to="/user/edit-profile">
            <v-list-item-title>User Profile</v-list-item-title>
          </v-list-item>
          <v-list-item>
            <v-list-item-title>Log Out</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
      
      <!-- v-else  -->
      <v-btn class="primary white--text" outlined v-model="overlay" @click="overlay = !overlay">
        Login
      </v-btn>
      
    </v-app-bar>
    <login :status="overlay" v-if="overlay"/>
    </div>
</template>
<script>
import { mapState } from 'vuex'
import Login from '@/components/Login'
export default {
    components: {
      Login
    },
    computed: {
      ...mapState([
        'auth', ['LOGGED_IN']
      ]),
      overlay: {
        get () {
          return this.$store.state.loginform
        },
        set (val) {
          this.$store.commit('setLoginForm', val)
        }
      }
    }
}
</script>