<template>
    <v-app>
        <dashboard-sidenav />
        <v-content>
            <router-view/>
        </v-content>
    </v-app>
</template>
<script>
import Navigation from '@/components/Navigation'
import DashboardSidenav from '@/components/Dashboard/Sidenav'
export default {
  name: 'App',
  components: {
    Navigation,
    DashboardSidenav
  },
  data: () => ({
    //
  }),
}
</script>
<style lang="scss">
.theme--light.v-application {
  background-color: #F5F5F5 !important;
}
</style>