<template>
    <v-app>
        <navigation />
        <v-content>
            <router-view/>
        </v-content>
    </v-app>
</template>
<script>
import Navigation from '@/components/Navigation'
export default {
    components: {
        Navigation
    }
}
</script>
