<template>
    <v-col>
        <v-dialog v-model="dialog" persistent>
            <v-card>
                <v-card-title>
                    <v-icon color="secondary" left="left">mdi-account-box</v-icon><span>Select image</span>
                </v-card-title>
                <v-card-text>
                    <v-file-input class="my-4" v-model="selectedFile" accept="image/png, image/jpeg" label="File" placeholder="Select a file" :show-size="1024" @change="setupCropper"></v-file-input>
                    <v-row v-if="objectURL">
                        <v-col class="text-center" cols="12" sm="6">
                            <div class="overline">Original</div>
                            <div class="image-container elevation-4"><img class="image-preview" ref="source" :src="objectURL" /></div>
                            <div class="d-flex justify-center">
                                <v-btn icon="icon" small="small" @click="resetCropper">
                                    <v-icon small="small">mdi-aspect-ratio</v-icon>
                                </v-btn>
                                <div class="mx-2"></div>
                                <v-btn icon="icon" small="small" @click="rotateLeft">
                                    <v-icon small="small">mdi-rotate-left</v-icon>
                                </v-btn>
                                <v-btn icon="icon" small="small" @click="rotateRight">
                                    <v-icon small="small">mdi-rotate-right</v-icon>
                                </v-btn>
                            </div>
                        </v-col>
                        <v-col class="text-center" cols="12" sm="6">
                            <div class="overline">Preview</div>
                            <div class="image-container elevation-4">
                                <img class="image-preview" :src="previewCropped" />
                            </div>
                        </v-col>
                    </v-row>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn text @click="closeDialog">
                        <span>Cancel</span>
                    </v-btn>
                    <v-btn color="accent" :disabled="!objectURL" @click="onSubmit">
                        <v-icon left="left">mdi-send</v-icon><span>Create</span>
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>    
    </v-col>
</template>
<script>
import Cropper from 'cropperjs'
import debounce from 'lodash/debounce'
  export default {
    props: ['status'],
    data: () => ({
        cropper: null,
        objectURL: null,
        previewCropped: null,
        selectedFile: null,
        destination: null,
        debouncedUpdatePreview: null,
        rules: [
            value => !value || value.size < 1000000 || 'Image size should be less than 1 MB!',
        ]    
    }),
    created() {
        this.debouncedUpdatePreview = debounce(this.updatePreview, 257)
    },
    computed : {
        dialog() {
            return this.status
        }
    },
    methods:{
        closeDialog () {
            this.$emit('dialog', false)
        },
        resetCropper () {
            this.cropper.reset()
        },
        rotateLeft () {
            this.cropper.rotate(-90)
        },
        rotateRight () {
            this.cropper.rotate(90)
        },
        onSubmit(evt){
            const canvas = this.cropper.getCroppedCanvas()
            this.destination = canvas.toDataURL("image/png")

            this.$emit('thumbnailToForm', this.destination)
            this.closeDialog()

        },
        setupCropper (selectedFile) {
            if (this.cropper) 
                this.cropper.destroy()
            

            if (this.objectURL) 
                window.URL.revokeObjectURL(this.objectURL)
            

            if (!selectedFile) {
                this.cropper = null
                this.objectURL = null
                return
            }

            this.objectURL = window.URL.createObjectURL(selectedFile)
            this.$nextTick(this.setupCropperInstance)
        },

        setupCropperInstance () {
            this.cropper = new Cropper(this.$refs.source, {
                aspectRatio: 16 / 9,
                minCanvasHeight: 135,
                minCropBoxWidth: 240,
                crop: this.debouncedUpdatePreview
            })
        },
        updatePreview (event) {
            const canvas = this.cropper.getCroppedCanvas()
            this.previewCropped = canvas.toDataURL('image/png')
        }              
    }
  }
</script>
<style lang="scss" scoped>
.image-container {
  display: inline-block
}
.image-preview {
  display: block;
  max-width: 400px;
}
</style>