<template>
    <div>
        <v-breadcrumbs :items="breadcrumb" divider=">"></v-breadcrumbs>
        <router-view />
    </div>
    
</template>
<script>
export default {
    data: ()=> ({
        breadcrumb: []
    }),
    mounted(){
        this.breadcrumb = this.$route.meta.breadcrumb
    }
}
</script>
