<template>
  <section>
    <div class="text-center">
      <h1>Avatar</h1>
      <p>Add a nice photo of yourself for your profile.</p>
      <v-divider />
        <v-form @submit="onSubmit">
          <p class="subtitle-1 text-left mb-2 mt-4">Email:</p>
            <v-text-field
                label="Email"
                v-model="form.email" 
                outlined
            ></v-text-field> 
            
            <p class="subtitle-1 text-left mb-2 mt-4">Password:</p>
            <v-text-field
                label="Enter Current Password"
                v-model="form.password" 
                outlined
            ></v-text-field>  
            <v-text-field
                label="Enter New Password"
                v-model="form.password" 
                outlined
            ></v-text-field>   
            <v-text-field
                label="Re-type New Password"
                v-model="form.confirmpassword" 
                outlined
            ></v-text-field>                                                                      
          <v-btn type="submit" color="accent">Update Password</v-btn>
        </v-form>
    </div>
  </section>
</template>

<script>
export default {
  name: 'edit-account',
  data: () => ({
    form: {
      email: '',
      oldpassword: '',
      newpassword: '',
      confirmpassword: ''
    },
  }),
  methods:{
    onSubmit(){
      if(form.newpassword !== form.confirmpassword){
        return false
      }else{
        console.log('trigger success');
      }
    }
  }
}

</script>
