<template>
  <section>
    <div class="text-center">
      <h1>Avatar</h1>
      <p>Add a nice photo of yourself for your profile.</p>
      <v-divider />
        <v-form @submit="onSubmit">
            <p class="subtitle-1 text-left mb-2 mt-4">Preview:</p>
            <v-img
                src="https://picsum.photos/id/11/500/300"
                lazy-src="https://picsum.photos/id/11/10/6"
                aspect-ratio="1"
                class="grey lighten-2"
                max-height="300"
            ></v-img>
            <p class="subtitle-1 text-left mb-2 mt-4">Add / Change Image:</p>
            <v-file-input
              :rules="rules"
              accept="image/png, image/jpeg, image/bmp"
              placeholder="no image selected"
              prepend-icon="mdi-camera"
              label="Avatar"
              outlined
              v-model="form.avatar"

            ></v-file-input>                                                
          <v-btn type="submit" color="accent">Save</v-btn>
        </v-form>
    </div>
  </section>
</template>

<script>
export default {
  name: 'edit-avatar',
  data: () => ({
    form: {
      avatar: [],
    },
    rules: [
      value => !value || value.size < 2000000 || 'Avatar size should be less than 2 MB!',
    ]
  }),
  methods:{
    onSubmit(){
      console.log('trigger click');
    }
  }
}

</script>
