<template>
  <section>
    <div class="text-center">
      <h1>Public profile</h1>
      <p>Add information about yourself</p>
      <v-divider />
        <v-form @submit="onSubmit">
          <p class="subtitle-1 text-left mb-2 mt-4">About You:</p>
            <v-text-field
                label="First Name"
                v-model="form.firstname" 
                outlined
            ></v-text-field>
            <v-text-field
                label="Last Name"
                v-model="form.lastname" 
                outlined
            ></v-text-field>     
                <v-text-field
                label="Headline"
                v-model="form.headline" 
                hint='Add a professional headline like, "Engineer at Udemy" or "Architect."'
                persistent-hint
                outlined
                class="mb-4"
            ></v-text-field>      
            <v-textarea 
                label="Description" 
                v-model="form.description" 
                outlined
                hint="Links and coupon codes are not permitted in this section."
                persistent-hint
                class="mb-4"
            >
            </v-textarea>

            <v-divider />
            <p class="subtitle-1 text-left mb-2 mt-4">Social Links:</p>
            <v-text-field
              label="Website (http(s)://..)"
              v-model="form.website"
              outlined
            ></v-text-field>
            <v-text-field
              label=""
              v-model="form.twitter"
              prefix="https://twitter.com/"
              persistent-hint
              outlined
              hint="Input your Twitter username (e.g. johnsmith)."
              class="mb-4"
            ></v-text-field>   
            <v-text-field
              label=""
              v-model="form.facebook"
              prefix="https://www.facebook.com/"
              persistent-hint
              outlined
              hint="Input your Facebook username (e.g. johnsmith)."
              class="mb-4"
            ></v-text-field>       
            <v-text-field
              label=""
              v-model="form.linkedin"
              prefix="https://www.linkedin.com/"
              persistent-hint
              outlined
              hint="Input your Linkedin username (e.g. johnsmith)."
              class="mb-4"
            ></v-text-field>    
            <v-text-field
              label=""
              v-model="form.github"
              prefix="https://github.com/"
              persistent-hint
              outlined
              hint="Input your Github username (e.g. johnsmith)."
              class="mb-4"
            ></v-text-field>                                                 
          <v-btn type="submit" color="accent">Save</v-btn>
        </v-form>
    </div>
  </section>
</template>

<script>
export default {
  name: 'edit-profile',
  data: () => ({
    form: {
      firstname: '',
      lastname: '',
      headline: '',
      description: '',
      website: '',
      twitter: '',
      facebook: '',
      linkedin: '',
      github: '',
    }
  }),
  methods:{
    onSubmit(){
      console.log('trigger click');
    }
  }
}

</script>
