<template>
<v-container>
    <v-row>
        <!-- <v-col md="4" sm="12">
            <user-sidenav />
        </v-col> -->
        <v-col cols="12">
            <h3>RECENT COURSES</h3>
        </v-col>

        <v-col sm="12" cols="auto" v-for="course in COURSES" :key="course._id">
            <!-- <router-view /> -->
            <v-card>
                <v-container>
                <v-row>
                    <v-col cols="auto">
                    <v-img
                        height="200"
                        width="200"
                        src="https://cdn.vuetifyjs.com/images/cards/store.jpg"
                    ></v-img>
                    </v-col>
                    <v-col>
                        <h4 class="mb-1">{{course.name}}</h4>
                        <p class="mb-4"><span>544 lectures</span><span>44 hours</span><span>All Levels</span></p>
                        <p>{{course.description}}</p>


                    </v-col>
                    <v-col cols="auto">
                        <p class="text-right">
                            <v-rating
                            v-model="rating"
                            small
                            dense
                            half-increments
                            background-color="grey lighten-1"
                            readonly
                            ></v-rating>
                            (111 ratings)
                        </p>
                        <p class="text-right font-weight-bold mb-0">CA$17.99</p>                        
                    </v-col>
                </v-row>
                </v-container>
            </v-card>
          
        </v-col>
    </v-row>

</v-container>
</template>
<script>
import UserSidenav from '@/components/User/Sidenav'
import { mapState, mapActions } from 'vuex'
export default {
    data: () => ({
        rating: 3.5
    }),
    components: {
        UserSidenav
    },
    computed: {
        ...mapState('courses', ['COURSES'])
    },
    methods: {
        ...mapActions('courses', ['GET_COURSES'])
    },
    mounted() {
        this.GET_COURSES()
    }
}
</script>