<template>
	<div class="editor">
		<editor-menu-bar :editor="editor" v-slot="{ commands, isActive }">
			<div class="menubar">
				<div class="toolbar">
					<v-btn 
						icon 
						small
						class="menubar__button"
						@click="commands.undo"
					>
						<v-icon class="white--text">undo</v-icon>
					</v-btn>

					<v-btn 
						icon 
						small
						class="menubar__button"
						@click="commands.redo"
					>
						<v-icon class="white--text">redo</v-icon>
					</v-btn>

					<v-btn 
						icon 
						small
						class="menubar__button"
						:class="{ 'is-active': isActive.bold() }"
						@click="commands.bold"
					>
						<v-icon class="white--text">format_bold</v-icon>
					</v-btn>

					<v-btn
						icon
						small
						class="menubar__button"
						:class="{ 'is-active': isActive.italic() }"
						@click="commands.italic"
					>
						<v-icon class="white--text">format_italic</v-icon>
					</v-btn>

					<v-btn 
						icon 
						small
						class="menubar__button"
						:class="{ 'is-active': isActive.strike() }"
						@click="commands.strike"
					>
						<v-icon class="white--text">format_strikethrough</v-icon>
					</v-btn>

					<v-btn
						icon
						small
						class="menubar__button"
						:class="{ 'is-active': isActive.underline() }"
						@click="commands.underline"
					>
						<v-icon class="white--text">format_underline</v-icon>
					</v-btn>

					<v-btn
						icon 
						small
						class="menubar__button"
						:class="{ 'is-active': isActive.code() }"
						@click="commands.code"
					>
						<v-icon class="white--text">code</v-icon>
					</v-btn>

					<v-btn
						icon
						small
						class="menubar__button white--text"
						:class="{ 'is-active': isActive.heading({ level: 1 }) }"
						@click="commands.heading({ level: 1 })"
					>
						H1
					</v-btn>

					<v-btn
						icon
						small
						class="menubar__button white--text"
						:class="{ 'is-active': isActive.heading({ level: 2 }) }"
						@click="commands.heading({ level: 2 })"
					>
						H2
					</v-btn>

					<v-btn
						icon
						small
						class="menubar__button white--text"
						:class="{ 'is-active': isActive.heading({ level: 3 }) }"
						@click="commands.heading({ level: 3 })"
					>
						H3
					</v-btn>

					<v-btn
						icon
						small
						class="menubar__button"
						:class="{ 'is-active': isActive.bullet_list() }"
						@click="commands.bullet_list"
					>
						<v-icon class="white--text">mdi-format-list-bulleted</v-icon>
					</v-btn>

					<v-btn
						icon
						small
						class="menubar__button"
						:class="{ 'is-active': isActive.ordered_list() }"
						@click="commands.ordered_list"
					>
						<v-icon class="white--text">format_list_numbered</v-icon>
					</v-btn>

					<v-btn
						icon
						small
						class="menubar__button"
						:class="{ 'is-active': isActive.blockquote() }"
						@click="commands.blockquote"
					>
						<v-icon class="white--text">format_quote</v-icon>
					</v-btn>

					<v-btn
						icon
						small
						class="menubar__button"
						:class="{ 'is-active': isActive.code_block() }"
						@click="commands.code_block"
					>
						<v-icon class="white--text">code</v-icon>
					</v-btn>

					<v-btn
						icon
						small
						class="menubar__button"
						@click="commands.createTable({rowsCount: 3, colsCount: 3, withHeaderRow: false })"
					>
						<v-icon class="white--text">mdi-table</v-icon>
					</v-btn>

					<span v-if="isActive.table()">
						<v-btn
							icon
							small
							class="menubar__button"
							@click="commands.deleteTable"
						>
							<v-icon class="white--text">mdi-table-remove</v-icon>
						</v-btn>

						<v-btn
							icon
							small
							class="menubar__button"
							@click="commands.addColumnBefore"
						>
							<v-icon class="white--text">mdi-table-column-add-before</v-icon>
						</v-btn>

						<v-btn
							icon
							small
							class="menubar__button"
							@click="commands.addColumnAfter"
						>
							<v-icon class="white--text">mdi-table-column-plus-after</v-icon>
						</v-btn>
						<v-btn
							icon
							small
							class="menubar__button"
							@click="commands.deleteColumn"
						>
							<v-icon class="white--text">mdi-table-column-remove</v-icon>
						</v-btn>
						<v-btn
							icon
							small
							class="menubar__button"
							@click="commands.addRowBefore"
						>
							<v-icon class="white--text">mdi-table-row-plus-before</v-icon>
						</v-btn>
						<v-btn
							icon
							small
							class="menubar__button"
							@click="commands.addRowAfter"
						>
							<v-icon class="white--text">mdi-table-row-plus-after</v-icon>
						</v-btn>
						<v-btn
							icon
							small
							class="menubar__button"
							@click="commands.deleteRow"
						>
							<v-icon class="white--text">mdi-table-row-remove</v-icon>
						</v-btn>
						<v-btn
							icon
							small
							class="menubar__button"
							@click="commands.toggleCellMerge"
						>
							<v-icon class="white--text">menu</v-icon>
						</v-btn>
					</span>
				</div>
			</div>
		</editor-menu-bar>

		<editor-content class="editor__content" :editor="editor" />
	</div>
</template>

<script>
  //https://tiptap.scrumpy.io/
	import { Editor, EditorContent, EditorMenuBar } from 'tiptap'
	import {
		Blockquote,
		CodeBlock,
		HardBreak,
		Heading,
		OrderedList,
		BulletList,
		ListItem,
		TodoItem,
		TodoList,
		Bold,
		Code,
		Italic,
		Link,
		Table,
		TableHeader,
		TableCell,
		TableRow,
		Strike,
		Underline,
		History
	} from 'tiptap-extensions'

	export default {
		components: {
			EditorContent,
			EditorMenuBar
		},
		data() {
			return {
				editor: new Editor({
					extensions: [
						new Blockquote(),
						new BulletList(),
						new CodeBlock(),
						new HardBreak(),
						new Heading({ levels: [1, 2, 3] }),
						new ListItem(),
						new OrderedList(),
						new TodoItem(),
						new TodoList(),
						new Link(),
						new Bold(),
						new Code(),
						new Italic(),
						new Strike(),
						new Underline(),
						new History(),
						new Table({
							resizable: true,
						}),
						new TableHeader(),
						new TableCell(),
						new TableRow(),
          			],
					onUpdate: ({ getHTML }) => {
						this.html = getHTML()
						this.$emit('HTMLtext', this.html)
					},
        		}),
        		html: ''
			}
		},
		beforeDestroy() {
			this.editor.destroy()
		}
	}
</script>
<style lang="scss">
.menubar{
  background-color: white;
  .toolbar {
	  button {
		  border-radius: 0px;
		  background-color: white;
		  span, i {
			  color: grey;
		  }
		  &.is-active {
			  background-color: #fff;
			  span, i {
				  color: black !important;
			  }
		  }
	  }
  }
}
.editor__content{
  border: 1px solid grey;
  min-height: 150px;
  .ProseMirror{
	min-height: 150px;
	&:focus{
		outline: none;
	}
  }
  p{
    margin-bottom: 0;
	color: #fff;
  }
}
</style>
