<template>
  <v-data-table
    :headers="headers"
    :items="data"
    sort-by="email"
    class="elevation-1"
  
  
  >
    <template v-slot:top>
      <v-toolbar flat>
        <v-toolbar-title class="title">Overview</v-toolbar-title>
      </v-toolbar>
    </template>

    <template v-slot:item.active="{ item }">
        <v-chip color="green" text-color="white" v-if="item.active" label>Active</v-chip>
        <v-chip color="red" text-color="white" v-else label>Inactive</v-chip>
    </template>
    <template v-slot:item.action="{ item }">
      <v-btn text x-small :to="`edit/${item._id}`">
        <v-icon
          small
          class="mr-2"
        >
          edit
        </v-icon>
      </v-btn>
      <v-btn text x-small>
        <v-icon
          small
        >
          delete
        </v-icon>
      </v-btn>
    </template>
  </v-data-table>
</template>
<script>
  export default {
    props: ['data'],
    data: () => ({
      dialog: false,
      headers: [
        { text: 'Name', align: 'left', value: 'firstname' },
        { text: 'Email', value: 'email' },
        { text: 'Title', value: 'title', sortable: false },
        { text: 'Active', value: 'active' },
        { text: 'Actions', value: 'action', sortable: false },
      ]
    })
  }
</script>