<template>
  <v-data-table
    :headers="headers"
    :items="desserts"
    sort-by="calories"
    class="elevation-1"
  >
    <template v-slot:top>
      <v-toolbar flat color="white">
        <v-toolbar-title class="title">Overview</v-toolbar-title>
      </v-toolbar>
    </template>
    <template v-slot:item.action="{ item }">
      <v-icon
        small
        class="mr-2"
        @click="editItem(item)"
      >
        edit
      </v-icon>
      <v-icon
        small
        @click="deleteItem(item)"
      >
        delete
      </v-icon>
    </template>
    <template v-slot:no-data>
      <v-btn color="accent" @click="initialize">Reset</v-btn>
    </template>
  </v-data-table>
</template>
<script>
  export default {
    data: () => ({
      dialog: false,
      headers: [
        { text: 'Name', align: 'left', value: 'name' },
        { text: 'Description', value: 'calories', sortable: false },
        { text: 'Count', value: 'protein', sortable: false },
        { text: 'Actions', value: 'action', sortable: false },
      ],
      desserts: []
    }),
    created () {
      this.initialize()
    },
    methods: {
      initialize () {
        this.desserts = [
          {
            name: 'Frozen Yogurt',
            calories: 159,
            protein: 4.0,
          },
          {
            name: 'Ice cream sandwich',
            calories: 237,
            protein: 4.3,
          },
          {
            name: 'Eclair',
            calories: 262,
            protein: 6.0,
          },
          {
            name: 'Cupcake',
            calories: 305,
            protein: 4.3,
          },
          {
            name: 'Gingerbread',
            calories: 356,
            protein: 3.9,
          },
          {
            name: 'Jelly bean',
            calories: 375,
            protein: 0.0,
          },
          {
            name: 'Lollipop',
            calories: 392,
            protein: 0,
          },
          {
            name: 'Honeycomb',
            calories: 408,
            protein: 6.5,
          },
          {
            name: 'Donut',
            calories: 452,
            protein: 4.9,
          },
          {
            name: 'KitKat',
            calories: 518,
            protein: 7,
          },
        ]
      },

      editItem (item) {
        this.editedIndex = this.desserts.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem (item) {
        const index = this.desserts.indexOf(item)
        confirm('Are you sure you want to delete this item?') && this.desserts.splice(index, 1)
      },

      close () {
        this.dialog = false
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        }, 300)
      },

      save () {
        if (this.editedIndex > -1) {
          Object.assign(this.desserts[this.editedIndex], this.editedItem)
        } else {
          this.desserts.push(this.editedItem)
        }
        this.close()
      },
    },
  }
</script>