<template>
  <v-data-table
    :headers="headers"
    :items="data"
    sort-by="calories"
    class="elevation-1"
  >
    <template v-slot:top>
      <v-toolbar flat>
        <v-toolbar-title class="title">Overview</v-toolbar-title>
      </v-toolbar>
    </template>
    <template v-slot:item.action="{ item }">
      <v-icon
        small
        class="mr-2"
      >edit</v-icon>
      <v-icon
        small
      >delete</v-icon>
    </template>
  </v-data-table>
</template>
<script>
  export default {
    props: ['data'],
    data: () => ({
      headers: [
        { text: 'Name', align: 'left', value: 'name' },
        { text: 'Description', value: 'description', sortable: false },
        { text: 'Actions', value: 'action', sortable: false },
      ]
    })
  }
</script>