<template>
    <v-container>
        <v-row>
            <v-col>
                <h1>Courses home page overview</h1>
            </v-col>
        </v-row>
    </v-container>
</template>
<script>
export default {
    
}
</script>