<template>
  <v-app>
    <component v-bind:is="layout"></component>
  </v-app>
</template>

<script>
import AdminLayout from '@/layouts/AdminLayout'
import UserLayout from '@/layouts/UserLayout'

export default {
  name: 'App',
  components: {
    AdminLayout,
    UserLayout
  },
  computed: {
    layout () {
      return (this.$route.meta.layout || this.$store.getters.layout)
    }
  }
}
</script>
<style lang="scss">
.theme--light.v-application {
  background-color: #FAFAFA !important;
}
</style>